.loadFileWidget {
    border-radius: 8px;
    border: 0.2px solid #99A5FF;
    display: grid;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.workflowControlButtons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.loadFileReady {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

.loadFileTitle {
    color: #FFF;
    font-family: PT Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
    float: left;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

 .runFilePath {
    border-radius: 8px;
    border: 0.5px solid #99A5FF;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(15px);
    width: 100%;
    padding: 10px;
    margin-right: 20px;
    color: #FFF;
    font-family: PT Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
}