.jogControllerContainer {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

.jogController {
    border: 0.3px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 32px;
    border-radius: 50%;
    width: fit-content;
}

.jogButton {
    width: 32px;
    height: 32px;
    box-sizing: content-box;
    border: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;

    &.mainAxe {
        border-radius: 5px;
        background: #9747FF;
        color: #FFF;
        text-align: center;
        font-family: "PT Mono";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &.center {
        border-radius: 5px;
        background-color: #E6E6E6;
        color: #9747FF;
        text-align: center;
        font-family: "PT Mono";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.stepSizePicker {
    margin: 0px 20px;
}

.cAxeController {
    display: grid;
    align-items: center;
    width: 44px;
    border-radius: 8px;
    border: 0.5px solid #99A5FF;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 36.46%, rgba(255, 255, 255, 0.00) 67.19%, rgba(255, 255, 255, 0.20) 100%);
    backdrop-filter: blur(15px);
}
  
.cAxeControllerButton {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
}
  
.cAxeName {
    border: none;
    text-align: center;
    font-size: 1rem;
    margin: 0 10px;
    background-color: transparent;
    color: #fff;
    font-family: PT Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}