.deviceAxesWidget {
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 8px;
    border: 0.2px solid #99A5FF;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.axePositions {
    display: grid;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.axePositionsReset {
    display: grid;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.positionsReset {
    display: grid;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;

    button {
        height: 40px
    }
}