$color-primary: #9747FF
$color-secondary: #000
$color-tertiary: #fff

.rowndButton
  border-radius: 8px
  width: 115px
  height: 44px
  font-family: "PT Mono"
  font-size: 16px
  font-style: normal
  font-weight: 400
  line-height: 20px
  letter-spacing: 0.8px
  display: flex
  align-items: center
  justify-content: center
  padding: 0 12px // If icons exist, they will have space because of padding
  &:focus
    outline: none

.primary
  border: 1px solid #9747FF
  background: #000
  color: #fff

.secondary
  background: #9747FF;
  color: #fff;

.tertiary
  background: #fff
  color: #9747FF

.iconWrapper
  margin-right: 6px // Icon spacing

.titleWrapper
  text-align: center