.deviceModeSelectionWidget {
    display flex
    width 100%
    overflow auto
    border-top: 0.2px solid #99A5FF;
    border-bottom: 0.2px solid #99A5FF;
    height: 54px
}

.mode {
    flex-grow: 1
    text-align: center
    cursor: pointer
    background: transparent
    color: #FFF
    text-align: center;
    font-family: "PT Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.1px;
    text-transform: capitalize;
    opacity: 0.5;
    border: none;
    line-height: 24px;
    margin: 0px;

    p {
        line-height: 24px;
        margin: 0;
    }
}


.selected {
    opacity: 1;
    background: linear-gradient(90deg, rgba(17, 18, 25, 0.00) 0%, rgba(129, 27, 226, 0.50) 20%, rgba(129, 27, 226, 0.80) 35.5%, #811BE2 48.5%, rgba(129, 27, 226, 0.80) 61.5%, rgba(129, 27, 226, 0.50) 79%, rgba(17, 18, 25, 0.00) 100%);
}