.deviceAxe {
    display: flex;
}

.axeLabel {
    margin-right: 10px;
    color: #FFF;
    text-align: center;
    font-family: "PT Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    border-radius: 5px;
    border: 0.5px solid #7780C6;
    background: #000;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.positions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.machinePosition {
    color: #9747FF;
    text-align: center;
    font-family: "PT Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
}

.workPosition {
    color: #99A0A9;
    text-align: center;
    font-family: "PT Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}