.deviceConnectionsWidget {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 12px;
    padding-bottom: 0;
}

.connectedDevice {
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: visible;
    position: relative;
    width: 100%;
}

.computerConnectedMessage{
    text-color: #36A900
}