.deviceConnectionsWidget {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.connectedDevice {
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: visible;
    position: relative;
    width: 100%;
}
