.stepSizePicker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    border-radius: 8px;
    border: 0.5px solid #99A5FF;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 36.46%, rgba(255, 255, 255, 0.00) 67.19%, rgba(255, 255, 255, 0.20) 100%);
    backdrop-filter: blur(15px);
    padding: 0 10px;
  }

  .changeButton {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    width: 50px;
  }

  .displayValue {
    min-width: 50px;
    text-align: center;
    border: none;
    text-align: center;
    font-size: 1rem;
    margin: 0 10px;
    background-color: transparent;
    color: #fff;
    font-family: PT Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
  }